@import "fonts";
@import "colors";

* {
  box-sizing: border-box;
}
body {
  font-family: $font-open-sans;
  background-color: $background-white;
  // max-width: 80vw;
  // margin: 0 auto;
}

.btn {
  border: 1px solid black;
  padding: 20px;
  background-color: #fff;
}
