@import "fonts";
@import "colors";

.header {
  background-color: $background-white;
  height: 100vh;
  display: flex;
  margin-bottom: 6vh;

  .header-img {
    flex: 0 0 50%;
    background-image: url("../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.login-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link-btn-login {
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  &:hover {
    border: 2px solid $color3;
  }
}

.link-btn:hover {
  border: 2px solid $color3;
}
.link-btn {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: black;
  font-family: $font-open-sans;
}

.bottom-link {
  font-size: 26px;
  border: 1px solid black;
  padding: 13px 51px;
  margin-left: 10px;
  min-width: 310px;
  display: flex;
  justify-content: center;
}
.bottom-links {
  display: flex;
}

.header-title-1,
.header-title-2 {
  font-size: 32px;
  font-family: $font-open-sans;
  font-weight: 100;
  padding: 10px;
}

.hedear-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20vh;
}
.decoration {
  display: flex;
  background-image: url("../assets/Decoration.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 353px;
  padding: 20px;
  // background-color: red;
}
